<section class="container" > 

    <img src="https://i.ibb.co/YDdX67G/piggy-bank-01.png" class="rounded mx-auto d-block" alt="..."> <br>
    <p  class="h1 text-center"> ¡Felicitaciones! </p>
    <label class="text-center" > 
        En esta venta has ganado <br>
        <strong> 412 puntos </strong> <br>
        Recuerda que estos puntos podrás <br>
        canjearlos por productos.
    </label> <br>

    <div class="text-center">
    <button type="button " routerLink= "/vista2/homepage"class="btn btn-danger  btn-lg"> CONTINUAR </button>
    </div>
</section>