
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://i.ibb.co/2Sdz5cZ/familia.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4 d-flex justify-content-end title">Lideramos con pasion</h2>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://i.ibb.co/M7n5C2Z/familia2.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4 d-flex justify-content-end title">Alimentamos un mañana mejor</h2>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://i.ibb.co/J54gB48/familia4.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class=" d-flex justify-content-end title">Generamos valor y bienestar</h2>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  </header>
  <hr>
 <div class="container">
   <h1 class="text1 font-whe"><img class="img-logo font-whe" src="https://i.ibb.co/7nwVcLS/HOJA-01.png" alt="hoja de logo">LOS PRODUCTOS MÁS VENDIDOS</h1>
   <hr>
  <app-productos></app-productos>
 </div>