
<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4 ">Mis ganancias</h1>

  <div class="d-flex justify-content-center btn-group my-4" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-danger">Mes</button>
      <button type="button" class="btn btn-outline-danger">Semana</button>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6 mb-4 a">
      <div class="card h-100 amarillo">
        <h4 class="text-center margin-top font-whe">Ganancia de la semana</h4>
        <div class="card-body">
          <h2 class="card-title text-center font-whe">
            S/.150.00
          </h2>
          <div class="card-text d-flex justify-content-center "><span style="font-size: 70px; "><i class="fas fa-chart-line size: 7x"></i></span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100 negro">
           <h4 class="text-center margin-top font-whe">Ventas de la semana</h4>
        <div class="card-body">
          <h2 class="card-title text-center font-whe">
            S/.589.30 
          </h2>
          <div class="card-text d-flex justify-content-center "><span style="font-size: 70px; "><i class="fas fa-trophy"></i></span></div>

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100 verde">
       <h4 class="text-center margin-top font-whe max-width">Puntos obtenidos en la semana</h4>
        <div class="card-body">
          <h2 class="card-title text-center font-whe">
            3200 
          </h2>
          <div class="card-text d-flex justify-content-center "><span style="font-size: 70px; "><i class="fas fa-star amarillo-color"></i></span></div>

        </div>
      </div>
    </div>
   
    </div>
  </div>
  <!-- /.row -->


