
 <nav class="navbar navbar-expand-lg navbar-danger btn-ali static-top ">
      <a class="navbar-brand" routerLink="/vista2/homepage" (click)="filtrarCategoria('')">
        <img class="logo" src="https://i.ibb.co/2tsWPV0/Alicorp-en-blanco.png" alt="home-alicorp">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarTogglerDemo02">
        
        <div class="input-group max-width">
          <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
           
          </div>
        </div>


      </div>

      <div class="navbar-two">
          <a class="flex-sm-fill text-sm-center nav-link active" routerLink="/vista2/carrito" ><i class="fas fa-shopping-cart"></i> HAS TUS PAGOS</a> 
          <a class="flex-sm-fill text-sm-center nav-link" routerLink="/vista2/ventas"><i class="fas fa-store"></i>  VENTAS</a> 
          <a class="flex-sm-fill text-sm-center nav-link" routerLink="/vista2/stadistic"><i class="fas fa-money-check-alt"></i> GANANCIAS</a> 
          <a class="flex-sm-fill text-sm-center nav-link" routerLink="/vista2/profile"><i class="fas fa-user"></i> PERFIL</a>
        </div>

    </nav>



      <div class="navbar-tree">
          <a class="flex-sm-fill text-sm-center nav-link" (click)="filtrarCategoria('conservas')"> CONSERVAS</a> 
          <a class="flex-sm-fill text-sm-center nav-link" (click)="filtrarCategoria('aceites')"> ACEITES</a> 
          <a class="flex-sm-fill text-sm-center nav-link" (click)="filtrarCategoria('jabones')"> JABONES</a> 
          <a class="flex-sm-fill text-sm-center nav-link" (click)="filtrarCategoria('detergentes')"> DETERGENTES</a>
          <a class="flex-sm-fill text-sm-center nav-link" (click)="filtrarCategoria('pastas')"> PASTAS</a>
        </div>


